<h1>Retreat Details</h1>
<h2>Introduction</h2>
<p>Modern guest retreat/apartment with lake views, private pool and heated spa at the front of your door step, entirely for guest use only. It is downstairs of a two-story modern home with separate access and full privacy in a quiet suburb, close to restaurants, cafes, Warners Bay Lakeshore and Speers Point parks, walkways, cycleways, and shops. It’s excellent for couples and business travelers. Short walk to the lake and recreational area of beautiful Lake Macquarie, Cafes, parks boutique shopping.</p>
<h2>The Area</h2>
<p>Lake Macquarie host a number of sporting, sailing and water sports, free music in the park and market events so don't forget to check the local council web site for what's on. Only five minutes drive or 20-25 minutes walk along the lake to Foreshore (Warners Bay) with cafes and restaurants . Ten minutes walk to Lake Macquarie park or Pippi’s water front restaurant or coffee shops.</p>
