<h1>Amenities</h1>
<h3> Essentials </h3>
<ul>
  <li>Air conditioning</li>
  <li>Heating</li>
  <li>Pool</li>
  <li>TV</li>
  <li>Wi-Fi</li>
  <li>Smoke alarm</li>
  <li>Private entrance</li>
  <li>Outdoor furniture</li>
  <li>Patio or balcony</li>
  <li>Free parking on premises</li>
</ul>


