<%# <%= form_with url: "/email" do |form| %> 

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body >
    <h1 class = "message">Welcome to LakeViewRetreat!</h1>
    <p>
      
      <br>
    </p>
    <p>
      
    <p>
      You have successfully signed up to LakeViewRetreat. 
      <br>
    </p>
    <p>
      For booking and enquiries please contact: hashan.pussegoda@students.mq.edu.au
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>


 
